@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="shadow p-4 rounded">
    <form method="post">
        <div class="mb-3">
            <label for="OrgName" class="form-label">Organization Name</label>
            <input type="text" class="form-control" id="OrgName" asp-for="SurveyCheckRequest.OrgName">
        </div>
        <div class="mb-3">
            <label for="OrgSurveyName" class="form-label">Survey Name</label>
            <input type="text" class="form-control" id="OrgSurveyName" asp-for="SurveyCheckRequest.SurveyName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>